name: Publish

on:
  workflow_run:
    workflows: [Test]
    types:
      - completed

env:
  CI: true

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      - name: Update build number
        run: |
          sed -i'' 's/"dev_build"/${{ github.run_number }}/g' $GITHUB_WORKSPACE/addons/io_hubs_addon/__init__.py
      - name: Upload addon artifacts
        uses: actions/upload-artifact@v3
        with:
          name: io_hubs_addon
          path: addons
          if-no-files-found: error
