name: Test

on:
  workflow_run:
    workflows: [Lint]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["3.3.1", "2.93.9"]
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      # Finds latest Blender build, and outputs the hosted build's download URL.
      - name: Find latest Blender build
        id: blender_version
        run: |
          echo ${{ matrix.version }}
          major=$(echo ${{ matrix.version }} | cut -d. -f1)
          minor=$(echo ${{ matrix.version }} | cut -d. -f2)
          patch=$(echo ${{ matrix.version }} | cut -d. -f3)
          echo "Looking for Blender $BLENDER_MAJOR.$BLENDER_MINOR.${BLENDER_PATCH}"
          BLENDER_URL="https://download.blender.org/release/Blender$major.$minor/blender-$major.$minor.$patch-linux-x64.tar.xz"
          echo "blender-url=$BLENDER_URL" >> $GITHUB_OUTPUT
      # Loads a cached build of Blender if available. If not available, this step
      # enqueues the /opt/blender directory to be cached after tests pass.
      - id: blender_cache
        uses: actions/cache@v3
        env:
          cache-name: cache-blender
        with:
          path: /opt/blender
          key: ${{ steps.blender_version.outputs.blender-url }}
      # Downloads a build from blender.org, if a cached version was not available.
      - name: Download Blender
        if: ${{ !steps.blender_cache.outputs.cache-hit }}
        run: |
          mkdir /opt/blender
          echo "Downloading: ${{ steps.blender_version.outputs.blender-url }}"
          curl -SL "${{ steps.blender_version.outputs.blender-url }}" | \
            tar -Jx -C /opt/blender --strip-components=1
      - name: Set up workspace
        run: |
          sudo ln -s /opt/blender/blender /usr/local/bin/blender
          blender --version
          major=$(echo ${{ matrix.version }} | cut -d. -f1)
          minor=$(echo ${{ matrix.version }} | cut -d. -f2)
          ADDON_DIR=/opt/blender/$major.$minor/scripts/addons
          rm -rf $ADDON_DIR/io_hubs_addon
          cp -r addons/io_hubs_addon $ADDON_DIR
          cd tests
          yarn install
          mkdir -p out
      - name: Run tests
        run: |
          cd tests
          OUT_PREFIX=$GITHUB_WORKSPACE/tests/out yarn test-bail --reporter-options reportDir=out/mochawesome
      - name: Upload test artifacts
        uses: actions/upload-artifact@v3
        with:
          name: test-output-${{ matrix.version }}
          path: tests/out/mochawesome
          if-no-files-found: error
